<div [formGroup]="groupName">
  <div class="wrapper-input">
    <label>
      <div class="label">{{ text }}</div>
      <div class="wrapper-password">
        <div>
          <input
            class="input"
            [type]="type"
            [placeholder]="placeHolder"
            [name]="name"
            [formControlName]="controlName"
            [helpers]="helpers"
            [ngClass]="
              control[controlName].invalid &&
              (control[controlName].dirty || control[controlName].touched)
                ? 'alert'
                : ''
            "
          />
        </div>
        <div class="button-hide">
          @if(type === 'password'){
          <p type="'button" (click)="onPassword()">🥵</p>
          }@else{
          <p type="'button" (click)="onPassword()">😂</p>
          }
        </div>
      </div>
      <small>{{ helpers }}</small>
    </label>
    
    <ng-container
      class="alert"
      *ngIf="
        control[controlName].invalid &&
        (control[controlName].dirty || control[controlName].touched)
      "
    >
    @for(item of errorDetails; track item.type ){ @if(item.type ===
        errorType[0]){
        <div class="error">
          {{ item.message }}
        </div>
        } }
    </ng-container>
    <ngContent></ngContent>
  </div>
</div>
