.wrapper-input {
  .label {
    padding-bottom: 0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .input {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.6rem;
    height: 2rem;
    border: 1px solid gray;

    .input:focus {
      outline: none;
      border: 2px solid rgb(37, 37, 37);
    }
  }
  .alert {
    border: 1px solid red;
  }
  .error {
    color: red;
    font-size: 0.8rem;
  }
  .label {
    padding-block: 0.2rem;
  }

  .wrapper-password {
    display: flex;
    gap: 0.2rem;
    align-items: center;
  }
}
