.alert{
    padding: 0.7rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    opacity: 0;
}
.danger {
  background-color: #ff5757;
  color: white;
}

.success {
    background-color: #5aff5a;
    color: white;
  }

.text {
  margin: 0;
}

    .alert-position {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 16rem;
    animation: slideFromTop 0.5s ease-out forwards;
    }

    @keyframes slideFromTop {
        0% {
        transform: translate(-50%, -100%); 
        opacity: 0;                 
        }
        100% {
        transform: translate(-50%, 0);
        opacity: 1;                 
        }
    }
