<div class="wrapper-signin-form">
  <div *ngIf="error$">
    <app-alert [class]="danger" [message]="(error$ | async) || ''" />
  </div>
  <h2>Sign In</h2>
  <form class="form-signin" [formGroup]="signInForm" (submit)="onSubmit(value)">
    @for(item of signInData; track item.name){ @if(item.name === "email"){
    <app-input
      [text]="item.label"
      [placeHolder]="item.placeholder"
      [name]="item.name"
      [controlName]="item.name"
      [groupName]="signInForm"
    />
    }@else{
    <app-password
      [text]="item.label"
      [name]="item.name"
      [placeHolder]="item.placeholder"
      [controlName]="item.name"
      [groupName]="signInForm"
    />
    } }
    <app-button
      [label]="submit.label"
      [type]="submit.type"
      [disabled]="buttonDisabled()"
      [loading]="(loading$ | async) || false"
    />
  </form>
</div>
