.wrapper-signin {
  background-image: img('assets/images/bg_signin.jpg');
  background-repeat: no-repeat;
    .title{
        text-align: center;
        font-size: 3rem;
    }
  .content-signin {
    display: grid;
    place-items: center;
  }
  
}